<div [class.border-red-500]="formControl()?.errors ?? false"
  class="border-2 border-dashed border-gray-300 rounded-md p-6 text-center relative hover:border-gray-400"
  [class.bg-purple-50]="isDragOver()" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)">
  <!-- Vista previa -->
  <div *ngIf="previewImage()" class="mb-4 relative">
    <img [src]="previewImage()" alt="Preview" class="max-h-40 mx-auto rounded-md" />
    <!-- Botón eliminar en la esquina superior derecha -->
    <button type="button" (click)="clearImage()" aria-label="Remove image" title="Remove image"
      class="absolute top-1 right-1 bg-gray-300 hover:bg-gray-400 focus:outline-none focus:ring-1 focus:ring-gray-500 focus:ring-offset-0  rounded-full w-5 h-5 flex items-center justify-center transition-colors duration-150">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
        <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10"
          stroke-width="1.5" d="m7.757 16.243l8.486-8.486m0 8.486L7.757 7.757" />
      </svg>
    </button>




  </div>

  <!-- Sin imagen -->
  <div *ngIf="!previewImage()" class="space-y-2">
    <button type="button"
      class="mt-4 mx-auto flex items-center justify-center w-12 h-12 rounded-full bg-purple-100 text-primary relative"
      (click)="fileInput.click()" aria-label="Choose file" title="Choose file">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor"
        class="w-6 h-6">
        <path
          d="M2.75 14A1.75 1.75 0 0 1 1 12.25v-2.5a.75.75 0 0 1 1.5 0v2.5c0 .138.112.25.25.25h10.5a.25.25 0 0 0 .25-.25v-2.5a.75.75 0 0 1 1.5 0v2.5A1.75 1.75 0 0 1 13.25 14Z" />
        <path
          d="M11.78 4.72a.749.749 0 1 1-1.06 1.06L8.75 3.811V9.5a.75.75 0 0 1-1.5 0V3.811L5.28 5.78a.749.749 0 1 1-1.06-1.06l3.25-3.25a.75.75 0 0 1 1.06 0z" />
      </svg>
    </button>

    <p class="text-sm text-gray-500">
      Drag an image or <span class="text-primary font-medium">browse</span>
    </p>
    <p class="text-xs text-gray-400">JPG, JPEG, PNG or GIF(max. 2MB)</p>
  </div>

  <!-- Input oculto -->
  <input #fileInput type="file" accept="image/*" class="hidden" (change)="onFilesChanged($event)" />
</div>
