<div class="flex h-screen overflow-hidden">

  <!-- Sidebar -->
  <div class="hidden md:flex md:flex-shrink-0">
    <div class="flex flex-col w-64 bg-white border-r border-gray-200">
      <div class="flex items-center justify-center h-16 px-4 border-b border-gray-200">
        <!-- <h1 class="text-xl font-['Pacifico'] text-primary">TestGenius</h1> -->
        <div class="flex h-16 items-center border-b border-border px-6">
          <div class="flex items-center space-x-2"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
              viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round" class="lucide lucide-brain h-8 w-8 text-primary">
              <path d="M12 5a3 3 0 1 0-5.997.125 4 4 0 0 0-2.526 5.77 4 4 0 0 0 .556 6.588A4 4 0 1 0 12 18Z"></path>
              <path d="M12 5a3 3 0 1 1 5.997.125 4 4 0 0 1 2.526 5.77 4 4 0 0 1-.556 6.588A4 4 0 1 1 12 18Z"></path>
              <path d="M15 13a4.5 4.5 0 0 1-3-4 4.5 4.5 0 0 1-3 4"></path>
              <path d="M17.599 6.5a3 3 0 0 0 .399-1.375"></path>
              <path d="M6.003 5.125A3 3 0 0 0 6.401 6.5"></path>
              <path d="M3.477 10.896a4 4 0 0 1 .585-.396"></path>
              <path d="M19.938 10.5a4 4 0 0 1 .585.396"></path>
              <path d="M6 18a4 4 0 0 1-1.967-.516"></path>
              <path d="M19.967 17.484A4 4 0 0 1 18 18"></path>
            </svg>
            <div>
              <!-- <h2 class="text-lg font-semibold">PsychTest</h2> -->
              <a routerLink="/" class="flex-shrink-0 flex items-center">
                <span class="text-2xl font-pacifico text-primary">ExamiNation</span>
              </a>
              <p class="text-xs text-muted-foreground">Admin Dashboard</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex flex-col flex-grow px-4 py-4 overflow-y-auto">
        <div class="space-y-1">
          <a href="#"
            class="flex items-center px-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:bg-indigo-50 hover:text-primary">
            <div class="w-6 h-6 mr-3 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M19 5v2h-4V5zM9 5v6H5V5zm10 8v6h-4v-6zM9 17v2H5v-2zM21 3h-8v6h8zM11 3H3v10h8zm10 8h-8v10h8zm-10 4H3v6h8z" />
              </svg>
            </div>
            Dashboard
          </a>
          <a [routerLink]="['/admin/tests/create']" routerLinkActive="bg-indigo-50 text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center px-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:bg-indigo-50 hover:text-primary">
            <div class="w-6 h-6 mr-3 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                <path fill="currentColor" d="M11 17h2v-4h4v-2h-4V7h-2v4H7v2h4zm-8 4V3h18v18zm2-2h14V5H5zm0 0V5z" />
              </svg>
            </div>
            Create Test
          </a>

          <a [routerLink]="['/admin/tests']" routerLinkActive="bg-indigo-50 text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center px-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:bg-indigo-50 hover:text-primary">
            <div class="w-6 h-6 mr-3 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16">
                <path fill="currentColor" fill-rule="evenodd"
                  d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5M3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0m0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147l1.146-1.147a.5.5 0 0 1 .708 0" />
              </svg>
            </div>
            Tests
          </a>
          <a [routerLink]="['/admin/questions']" routerLinkActive="bg-indigo-50 text-primary"
            [routerLinkActiveOptions]="{ exact: true }"
            class="flex items-center px-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:bg-indigo-50 hover:text-primary">
            <div class="w-6 h-6 mr-3 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                <g fill="none">
                  <path
                    d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z" />
                  <path fill="currentColor"
                    d="M12 2c5.523 0 10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12S6.477 2 12 2m0 2a8 8 0 1 0 0 16a8 8 0 0 0 0-16m0 12a1 1 0 1 1 0 2a1 1 0 0 1 0-2m0-9.5a3.625 3.625 0 0 1 1.348 6.99a.8.8 0 0 0-.305.201c-.044.05-.051.114-.05.18L13 14a1 1 0 0 1-1.993.117L11 14v-.25c0-1.153.93-1.845 1.604-2.116a1.626 1.626 0 1 0-2.229-1.509a1 1 0 1 1-2 0A3.625 3.625 0 0 1 12 6.5" />
                </g>
              </svg>
            </div>
            Questions
          </a>
          <a href="#"
            class="flex items-center px-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:bg-indigo-50 hover:text-primary">
            <div class="w-6 h-6 mr-3 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 0 0-12 0zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6m0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4" />
              </svg>
            </div>
            Users
          </a>
          <a href="#"
            class="flex items-center px-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:bg-indigo-50 hover:text-primary">
            <div class="w-6 h-6 mr-3 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 56 56">
                <path fill="currentColor"
                  d="M42.238 6.426c4.8 0 7.238 2.34 7.333 6.979l.003.286V42.31c0 4.731-2.34 7.167-7.045 7.262l-.29.003H13.784c-4.777 0-7.259-2.318-7.356-6.977l-.003-.288V13.69c0-4.754 2.386-7.168 7.07-7.262l.29-.003zm-.07 3.773H13.855c-2.268 0-3.57 1.164-3.652 3.448l-.004.232V42.12c0 2.359 1.23 3.598 3.433 3.676l.223.004h28.313c2.245 0 3.547-1.164 3.629-3.448l.004-.232V13.88c0-2.359-1.23-3.598-3.412-3.676zM20 22a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2V24a2 2 0 0 1 2-2zm9-6a2 2 0 0 1 2 2v20a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2V18a2 2 0 0 1 2-2zm9 12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2v-8a2 2 0 0 1 2-2z" />
              </svg>
            </div>
            Analytics
          </a>
          <a href="#"
            class="flex items-center px-2 py-2 text-sm font-medium text-gray-600 rounded-md hover:bg-indigo-50 hover:text-primary">
            <div class="w-6 h-6 mr-3 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                <path fill="currentColor"
                  d="m12 1l9.5 5.5v11L12 23l-9.5-5.5v-11zm0 2.311L4.5 7.653v8.694l7.5 4.342l7.5-4.342V7.653zM12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8m0-2a2 2 0 1 0 0-4a2 2 0 0 0 0 4" />
              </svg>
            </div>
            Settings
          </a>
        </div>
      </div>
      <div class="flex-shrink-0 p-4 border-t border-gray-200">
        <div class="flex items-center">
          <div class="flex-shrink-0">
            <img class="h-10 w-10 rounded-full"
              src="https://readdy.ai/api/search-image?query=professional%252520headshot%252520of%252520a%252520young%252520business%252520person%252520with%252520neutral%252520expression%25252C%252520high%252520quality%25252C%252520studio%252520lighting%25252C%252520professional&amp;width=100&amp;height=100&amp;seq=admin-avatar&amp;orientation=squarish"
              alt="Admin avatar">
          </div>
          <div class="ml-3">
            <p class="text-sm font-medium text-gray-900">David Mitchell</p>
            <p class="text-xs font-medium text-gray-500">Administrator</p>
          </div>
          <button class="ml-auto flex-shrink-0 p-1 text-gray-400 rounded-full hover:text-gray-500"
            (click)="authService.logout()" routerLink="/auth/login">
            <div class="w-5 h-5 flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                <path fill="currentColor"
                  d="M77.155 272.034H351.75v-32.001H77.155l75.053-75.053v-.001l-22.628-22.626l-113.681 113.68l.001.001h-.001L129.58 369.715l22.628-22.627v-.001z"
                  stroke-width="15" stroke="currentColor" />
                <path fill="currentColor" d="M160 16v32h304v416H160v32h336V16z" stroke-width="15"
                  stroke="currentColor" />
              </svg>
            </div>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- Main content -->
  <div class="flex flex-col flex-1 overflow-hidden pt-16">

    <body class="h-screen flex flex-col">

      <app-admin-tests-header></app-admin-tests-header>

      <main class="flex-1 overflow-y-auto bg-gray-50">
        <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6  lg:px-8 ">

          <div class="bg-white shadow rounded-lg mb-6 overflow-hidden">
            <div class="overflow-x-auto p-6 bg-white min-h-screen">
              <router-outlet />
            </div>

          </div>

        </div>
      </main>

    </body>

  </div>

</div>
