<div class="bg-white rounded-lg shadow-sm overflow-hidden border border-gray-100 hover:shadow-md transition-shadow">
  <div class="p-6">
    <div class="flex items-center justify-between mb-4">
      <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium"
        [ngClass]="statusClassMap[testResult().status]">
        {{ testResultStatus[testResult().status] }}
      </span>
      <span class="text-xs text-gray-500">{{testResult().completedAt| date: 'MMMM d, y' }}</span>
    </div>
    <h3 class="text-lg font-semibold text-gray-900">{{testResult().testName}}</h3>
    <div class="mt-2 flex items-center">
      <span
        class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-blue-100 text-blue-800 mr-2">
        {{testType[testResult().testType]}}
      </span>
    </div>
    @if (testResult().status === testResultStatus.InProgress) {
    <div class="mt-4 space-y-2">
      <div class="mt-4">
        <div class="flex items-center justify-between mb-1">
          <span class="text-sm font-medium text-gray-700">Progress</span>
          <span class="text-sm font-medium text-gray-900">{{ testResult().progressPercentage}}%</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2">
          <div class="bg-primary h-2 rounded-full" [style.width]="testResult().progressPercentage + '%'"></div>
        </div>
      </div>
    </div>

    } @else {
    <div class="mt-4">
      <div class="flex items-center justify-between mb-1">
        <span class="text-sm font-medium text-gray-700">Score</span>
        <span class="text-sm font-medium text-gray-900">{{testResult().score}}/{{testResult().questionCount}}</span>
      </div>
    </div>
    <div class="mt-4 space-y-2">
      @for (category of testResult().categoryResults; track $index) {
      <app-performance-card-category [category]="category" [index]=$index size="small"></app-performance-card-category>

      }

    </div>
    }

    <div class="mt-6">
      <button [routerLink]="getTestLink()"
        class="w-full inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-btn shadow-sm text-white bg-primary hover:bg-primary/90 whitespace-nowrap">
        {{ testResult().status === testResultStatus.Completed ? 'View Detailed Results' : 'Continue Test' }}
      </button>
    </div>
  </div>
</div>
