<header [class.left-64]="sidebarOpen()" [class.left-0]="!sidebarOpen()"
  class="bg-white border-b border-gray-200 fixed top-0 right-0 z-10 transition-all duration-300">
  <div class="flex items-center justify-between px-6 h-16">

    <div class="flex items-center">
      <button id="toggle-sidebar" class="text-gray-500 hover:text-primary transition-colors" (click)="onToggle()">
        <div class="w-6 h-6 flex items-center justify-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
            <g fill="none" stroke="currentColor" stroke-dasharray="16" stroke-dashoffset="16" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="2">
              <path d="M5 5h14">
                <animate fill="freeze" attributeName="stroke-dashoffset" dur="0.2s" values="16;0" />
              </path>
              <path d="M5 12h14">
                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.2s" dur="0.2s" values="16;0" />
              </path>
              <path d="M5 19h14">
                <animate fill="freeze" attributeName="stroke-dashoffset" begin="0.4s" dur="0.2s" values="16;0" />
              </path>
            </g>
          </svg>
        </div>
      </button>

    </div>

    <app-user-menu />
  </div>
</header>
