<div class="bg-white rounded-lg shadow-sm p-3 mb-3">
  <h1 class="text-2xl font-bold text-gray-900 mb-2">{{test().name}}</h1>
  <div class="flex items-center text-sm text-gray-500 mb-4">
    <div class="flex items-center mr-4">
      <div class="w-4 h-4 flex items-center justify-center mr-1">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" fill-rule="evenodd" d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10m0-2a8 8 0 1 0 0-16a8 8 0 0 0 0 16m-1-4h2v2h-2zm0-1.992s2-.008 2 0C13 13.006 16 12 16 10c0-2.21-1.773-4-3.991-4A4 4 0 0 0 8 10h2c0-1.1.9-2 2-2s2 .9 2 2c0 .9-3 2.367-3 4.008"/></svg>
      </div>
      <span>{{questionsNumber()}} questions</span>
    </div>
    <div class="flex items-center">
      <div class="w-4 h-4 flex items-center justify-center mr-1">
       <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 24 24"><path fill="currentColor" d="m9.17 6l2 2H20v10H4V6zM10 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V8c0-1.1-.9-2-2-2h-8z"/></svg>
      </div>
      <span> {{testType[test().type]}}</span>
    </div>
  </div>
  <p class="text-gray-600"> {{test().description}}</p>
</div>
