<!-- Cabecera y Filtros -->
<div class="bg-gray-50 min-h-screen fade-in">
  <div class="w-full px-4 sm:px-6 lg:px-12 py-8 border-b border-gray-200 bg-white">
    <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-4">
      <!-- Título y cantidad -->
      <div>
        <h1 class="text-2xl font-bold text-gray-900">My Tests</h1>
        <p class="mt-1 text-sm text-gray-500">You have taken {{totalRecords}} tests in
          total</p>
      </div>

      <!-- Filtros -->
      <div class="flex flex-col sm:flex-row gap-3">

        <!-- Filtro de categoría -->
        <p-dropdown [options]="testResultStatusOptions" [(ngModel)]="selectedTestType" (onChange)="onTestTypeChange()"
          optionLabel="label"  optionValue="value"  class="w-full sm:w-20 md:w-30 lg:w-40">
        </p-dropdown>



      </div>
    </div>
  </div>

  <!-- Cards de Tests -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      @for ( testResult of testResulsResource.value()!; track $index) {
      <app-history-card [testResult]="testResult"></app-history-card>
      }
    </div>
  </div>
</div>
