<p-dialog [(visible)]="dialog" [style]="{ width: '40rem' }" header="Create Test" [modal]="true" [closable]="true"
  (onHide)="resetForm()">
  <form [formGroup]="testForm" class="p-0" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-1 sm:grid-cols-6 gap-6">

      <input type="hidden" formControlName="id" />

      <!-- Test Name -->
      <div class="sm:col-span-6">
        <label for="test-name" class="block text-sm font-medium text-gray-700">
          Test Name <span class="text-red-500">*</span>
        </label>
        <input type="text" placeholder="Enter test name" formControlName="name"
          [class.border-red-500]="testForm.get('name')?.errors ?? false"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 text-sm shadow-sm focus:border-primary focus:ring-primary hover:border-gray-400" />
        <form-error-label [control]="testForm.get('name')!" />
      </div>

      <!-- Description -->
      <div class="sm:col-span-6">
        <label for="description" class="block text-sm font-medium text-gray-700">Description</label>
        <textarea rows="3" placeholder="Enter test description" formControlName="description"
          [class.border-red-500]="testForm.get('description')?.errors ?? false"
          class="mt-1 block w-full rounded-md border border-gray-300 px-3 py-2 text-sm shadow-sm focus:border-primary focus:ring-primary hover:border-gray-400"></textarea>
        <form-error-label [control]="testForm.get('description')!" />
      </div>

      <!-- Test Type -->
      <div class="sm:col-span-6">
        <label for="test-type" class="block text-sm font-medium text-gray-700">
          Test Type <span class="text-red-500">*</span>
        </label>

        <select formControlName="type" [class.border-red-500]="testForm.get('type')?.errors ?? false"
          class="mt-1 block w-full rounded-md border border-gray-300 bg-white px-3 py-2 text-sm text-gray-900 shadow-sm focus:border-primary focus:ring-primary hover:border-gray-400">
          @for (type of testTypeOptions; track type.value) {
          <option [value]="type.value">{{ type.label }}</option>
          }
        </select>

        <form-error-label [control]="testForm.get('type')!" />
      </div>


      <!-- Image -->
      <div class="sm:col-span-6">
        <label for="photo" class="block text-sm font-medium text-gray-700 mb-2">
          Test Image <span class="text-red-500"></span>
        </label>

        <app-image-upload [formControl]="imageUrlControl" [imageUrl]="previewImage()"
          (imageChanged)="onImageChanged($event)"></app-image-upload>

      </div>

    </div>
    <!-- Footer buttons -->
    <div class="mt-6 flex justify-end gap-3 border-t pt-4">
      <button type="button" (click)="closeModal()"
        class="inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 shadow-sm hover:bg-gray-50">
        <svg class="mr-2 h-5 w-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
        Cancel
      </button>
      <button type="submit"
        class="inline-flex items-center rounded-md bg-primary px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700">
        <svg class="mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20">
          <path d="m15.3 5.3l-6.8 6.8l-2.8-2.8l-1.4 1.4l4.2 4.2l8.2-8.2z" />
        </svg>
        Save
      </button>
    </div>
  </form>
</p-dialog>
