@import 'primeicons/primeicons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: "Montserrat";
    src: url('/assests/fonts/montserrat-alternates/montserratAlternates-medium.ttf') format('truetype');
  }
  @font-face {
    font-family: "Pacifico";
    src: url('/assests/fonts/pacifico/pacifico-regular.ttf');
  }
}
