<div class="navbar bg-base-100 sticky top-0 z-50">
  <div class="flex-1">
    <a routerLink="/" class="flex-shrink-0 flex items-center">
      <span class="text-2xl font-pacifico text-primary">ExamiNation</span>
    </a>
  </div>
  <div class="flex items-center">
    <a routerLink="/" routerLinkActive="text-primary border-b-2 border-primary"
      class="px-3 py-2 text-sm font-medium text-primary border-b-2 border-primary"
      [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
    @if (authService.authStatus()==='authenticated') {
    <a routerLink="test-result/history" routerLinkActive="text-primary border-b-2 border-primary"
      class="px-3 py-2 text-sm font-medium text-primary border-b-2 border-primary">
      My Tests
    </a>
    }
    @if (isOnTestResultDetails()) {
    <a href="javascript:void(0)" class="px-3 py-2 text-sm font-medium border-b-2" [ngClass]="{
    'text-primary border-b-2 border-primary': isOnTestResultDetails(),
    'text-gray-600': !isOnTestResultDetails() }">
      Results
    </a>
    }
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li>
        <details>
          <summary class="flex items-center space-x-2 text-gray-700 hover:text-gray-900 cursor-pointer">
            <div class="w-8 h-8 bg-primary/10 rounded-full flex items-center justify-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                  stroke-width="1.5"
                  d="M6.578 15.482c-1.415.842-5.125 2.562-2.865 4.715C4.816 21.248 6.045 22 7.59 22h8.818c1.546 0 2.775-.752 3.878-1.803c2.26-2.153-1.45-3.873-2.865-4.715a10.66 10.66 0 0 0-10.844 0M16.5 6.5a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0"
                  color="currentColor" />
              </svg>
            </div>
            <span class="text-sm font-medium">User</span>
          </summary>

          <ul class="absolute right-0 mt-2 bg-base-100 p-2 w-40 rounded-btn shadow z-50">
            <li>
              <a routerLink="/test/men" routerLinkActive="text-primary"
                class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-purple-50 hover:text-primary">
                <div class="w-4 h-4 flex items-center justify-center mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="M4 22a8 8 0 1 1 16 0h-2a6 6 0 0 0-12 0zm8-9c-3.315 0-6-2.685-6-6s2.685-6 6-6s6 2.685 6 6s-2.685 6-6 6m0-2c2.21 0 4-1.79 4-4s-1.79-4-4-4s-4 1.79-4 4s1.79 4 4 4">
                    </path>
                  </svg>
                </div>
                Your Profile
              </a>
            </li>
            <li>
              <a routerLink="/test/women" routerLinkActive="text-primary"
                class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-purple-50 hover:text-primary">
                <div class="w-4 h-4 flex items-center justify-center mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24">
                    <path fill="currentColor"
                      d="m12 1l9.5 5.5v11L12 23l-9.5-5.5v-11zm0 2.311L4.5 7.653v8.694l7.5 4.342l7.5-4.342V7.653zM12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8m0-2a2 2 0 1 0 0-4a2 2 0 0 0 0 4">
                    </path>
                  </svg>
                </div>
                Settings
              </a>
            </li>
            @if (authService.authStatus()==='not-authenticated') {
            <li>
              <a routerLink="/auth/login" routerLinkActive="text-primary"
                class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-purple-50 hover:text-primary">
                <div class="w-4 h-4 flex items-center justify-center mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M77.155 272.034H351.75v-32.001H77.155l75.053-75.053v-.001l-22.628-22.626l-113.681 113.68l.001.001h-.001L129.58 369.715l22.628-22.627v-.001z"
                      stroke-width="15" stroke="currentColor" />
                    <path fill="currentColor" d="M160 16v32h304v416H160v32h336V16z" stroke-width="15"
                      stroke="currentColor" />
                  </svg>
                </div>
                Sign out
              </a>
            </li>
            }@if (authService.authStatus()==='authenticated') {
            <li>
              <a (click)="authService.logout()" routerLink="/auth/login" routerLink="/auth/login"
                routerLinkActive="text-primary"
                class="flex items-center px-4 py-2 text-sm text-red-600 hover:bg-red-50">
                <div class="w-4 h-4 flex items-center justify-center mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewBox="0 0 512 512">
                    <path fill="currentColor"
                      d="M77.155 272.034H351.75v-32.001H77.155l75.053-75.053v-.001l-22.628-22.626l-113.681 113.68l.001.001h-.001L129.58 369.715l22.628-22.627v-.001z"
                      stroke-width="15" stroke="currentColor" />
                    <path fill="currentColor" d="M160 16v32h304v416H160v32h336V16z" stroke-width="15"
                      stroke="currentColor" />
                  </svg>
                </div>
                Logout
              </a>
            </li>
            }
          </ul>
        </details>
      </li>
    </ul>
  </div>
</div>
